:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.no-border {
  border: none;
  background-color: transparent;

  &:hover {
    color: rgba(0, 0, 0, 0.47);
    border-radius: 6px;
    cursor: pointer;
  }
}

.invalid {
  border-color: red;
  border-style: solid;
}

.valid {
  border-color: green;
  border-style: solid;
}

.error-message {
  color: red;
  font-size: 15px;
}
